body {
    margin: 0;
    padding: 0;
  }

  .gallery {
    margin: 24px 0;
    padding: 0;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

 

  .gallery-item {
    list-style-type: none;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .gallery-item:hover,
  .gallery-item:focus {
    transform: scale(1.02);
  }

  .gallery-link {
    display: block;
    width: 100%;
    height: 100%;
    
  }

  .gallery-image {
    width: 360px;
    height: 200px;
  }